<?xml version="1.0"?>
<launch>
	<arg name="proximitysector_params" default="$(find cnbiros_shared_navigation)/params/default_proximitysector_params.yaml"/>
	<node pkg="cnbiros_shared_navigation" type="costmap_to_proximitysector" output="screen" name="costmap_to_proximitysector" >
	  <rosparam subst_value="True" file="$(arg proximitysector_params)" command="load" />
  </node>
</launch>
