<?xml version="1.0"?>
<launch>
	<!--- Run Costmap2ProximitySector -->
	<include file="$(find cnbiros_shared_navigation)/launch/costmap_to_proximitysector.launch" />
	<!--- Run Point2ProximitySector -->
	<include file="$(find cnbiros_shared_navigation)/launch/point_to_proximitysector.launch" />

	<arg name="set_autostart" default="False"/>
	<node pkg="cnbiros_shared_navigation" type="shared_actions" output="screen" name="shared_actions" >
	  <rosparam param="autostart" subst_value="True">$(arg set_autostart)</rosparam>
	  <rosparam file="$(find cnbiros_shared_navigation)/params/default_sharedactions_params.yaml" command="load" />
  </node>
</launch>
