<?xml version="1.0"?>
<launch>
	<arg name="set_autostart" default="False"/>
	<arg name="sharedactions_params" default="$(find cnbiros_shared_navigation)/params/default_sharedactions_params.yaml" />
	<node pkg="cnbiros_shared_navigation" type="shared_actions" output="screen" name="shared_actions" >
	  <rosparam param="autostart" subst_value="True">$(arg set_autostart)</rosparam>
	  <rosparam subst_value="True" file="$(arg sharedactions_params)" command="load" />
  </node>
</launch>
